/*Cursos Online - Other style configs*/

header {
	margin-bottom: 10px;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.flex-container > div {
	margin: 10px;
	padding: 20px;
}

footer {
	margin-top: 200px;
}
